/* app css stylesheet */

.note-commands {
  display: inline-block;
}

.note-title {
  font-weight: bold;
}

.course-title {
  font-weight: bold;
}

html {
  overflow-y: auto;
}

.course-commands a {
  font-weight: bold;
}

.download-status {
  font-weight: bold;
}

.download-downloading {
  color: blue;
}

.download-failed {
  color: red;
}

.download-complete {
  color: green;
}