/* app css stylesheet */

#course-list > li {
  list-style-type: none;
}

.download-title {
  font-weight: bold;
}

.course-title {
  font-weight: bold;
  font-size: 18pt;
}

html {
  overflow-y: auto;
}

.course-commands a {
  font-weight: bold;
}

.download-status {
  font-weight: bold;
  padding-left: 20px;
}

.download-downloading {
  color: blue;
}

.download-failed {
  color: red;
}

.download-complete {
  color: green;
}

.course-item {
  margin-bottom: 15px;
}

.download-command-cell {
  padding-right: 5px;
}

.download-command-cell > a {
  font-weight: bold;
}

.download-index-cell {
  text-align: right;
  padding: 0 4px 0 20px;
}