<!doctype html>
<html lang="en" ng-app="cate">
<head>
  <meta charset="utf-8">
  <title>CATE</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body ng-controller="authController">
  
  <nav class="navbar navbar-default" role="navigation" ng-controller="headerController">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CATE</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      <li ng-class="{active: mode == 'courses'}" ng-click="setMode('courses')"><a href="">Notes</a></li>
      </ul>
      <form class="navbar-form navbar-right" ng-if="authenticated">
        <select ng-model="year" ng-options="year + '-' + (year * 1 + 1) for year in availableYears" class="form-control"></select>
        <select ng-model="clazz" ng-options="class.code as class.name group by class.degree for class in availableClasses" class="form-control"></select>
      </form>
    </div><!-- /.navbar-collapse -->
  </nav>

  <div ng-if="authenticated" ng-view></div>
  <div ng-if="authenticated === false" class="jumbotron">
    <p>It looks like you're not logged in to CATE. Please <a href="https://cate.doc.ic.ac.uk" target="_blank">log in</a> using Chrome and try again.</p>
    <p><a class="btn btn-primary btn-lg" role="button" ng-click="check()">Try again</a></p>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="lib/jquery-2.0.3.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
